.fourth-frame {
  background-color: #E9FF60;
  height: 100vh;
  text-align: center;
}

.frame-four-content {
  padding-top: 150px;
}

.fourth-frame-text {
  margin: 60px auto;
  text-align: justify;
  width: 290px;
}

.pin img {
  max-width: 3%;
}
