.frame-thirteen {
  background-color: #E9FF60;
  height: 100vh;
  position: relative;
}

.building img {
  display: block;
  max-width: 20%;
  margin: 0 auto;
  padding-top: 80px;
}

.contacts {
  padding: 40px 0 0 200px;
}

@media screen and (max-width: 600px) {
  .contacts {
    padding: 0;
    text-align: center;
  }
}
