.second-frame {
  background-color: #E9FF60;
  height: 100vh;
  text-align: center;
  position: relative;
}

.musician img, .church img {
  width: 5%;
}

.musician {
  padding-top: 100px;
}

.second-frame-text {
  margin: 60px auto;
  text-align: justify;
  width: 300px;
}
